$icons: (
      sprite: (width: 178px, height: 145px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    addresses-next: (width: 24px, height: 17px, backgroundX: -92px, backgroundY: -20px),
    addresses-prev: (width: 24px, height: 17px, backgroundX: -120px, backgroundY: -20px),
    catalog-filter-remove: (width: 12px, height: 12px, backgroundX: -74px, backgroundY: -127px),
    catalog-item-socials-fb: (width: 7px, height: 16px, backgroundX: -157px, backgroundY: -79px),
    catalog-item-socials-twt: (width: 17px, height: 14px, backgroundX: 0px, backgroundY: -127px),
    catalog-item-socials-vk: (width: 17px, height: 9px, backgroundX: -64px, backgroundY: -50px),
    form-error: (width: 20px, height: 20px, backgroundX: -126px, backgroundY: -91px),
    login: (width: 17px, height: 15px, backgroundX: -157px, backgroundY: 0px),
    login-hover: (width: 17px, height: 15px, backgroundX: -157px, backgroundY: -19px),
    nav-collapse: (width: 12px, height: 13px, backgroundX: -58px, backgroundY: -127px),
    nav-expand: (width: 12px, height: 13px, backgroundX: -42px, backgroundY: -127px),
    remaining: (width: 16px, height: 17px, backgroundX: -157px, backgroundY: -38px),
    rocket_logo: (width: 153px, height: 16px, backgroundX: 0px, backgroundY: 0px),
    star: (width: 14px, height: 16px, backgroundX: -157px, backgroundY: -59px),
    star-big: (width: 24px, height: 26px, backgroundX: -64px, backgroundY: -20px),
    star-full: (width: 14px, height: 15px, backgroundX: -157px, backgroundY: -119px),
    star-full-big: (width: 24px, height: 24px, backgroundX: -126px, backgroundY: -63px),
    tip-arr-auth: (width: 38px, height: 58px, backgroundX: -84px, backgroundY: -63px),
    tip-arr-item: (width: 38px, height: 60px, backgroundX: 0px, backgroundY: -63px),
    tip-arr-nav: (width: 60px, height: 39px, backgroundX: 0px, backgroundY: -20px),
    tip-arr-search: (width: 38px, height: 59px, backgroundX: -42px, backgroundY: -63px),
    tip-check: (width: 17px, height: 13px, backgroundX: -21px, backgroundY: -127px),
    tip-cross: (width: 16px, height: 16px, backgroundX: -157px, backgroundY: -99px),
);