.c-promo-catalog {
  margin-bottom: 20px;
  margin-left: 52px;
  margin-right: 5px;
  padding-bottom: 52px;
  position: relative;
  @extend .clearfix;

  @include adaptive-to($tablet-w){
    display: none;
  }

  @include adaptive-between($tablet-w, $desktop-w){
    padding-bottom: 80px;
  }

  .promo-box {
    @extend .clearfix;
    position: relative;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.15);
    background: #f5f5f5;
    border-radius: 5px;
    width: 100%;
    transition: box-shadow .6s ease, transform .6s ease, opacity .2s ease;
    left: 0;
    bottom: auto;


    .box-img {
      opacity: .7;
      display: block;
      span {
        display: block;
      }
    }
    .box-content {
      visibility: hidden;
    }

    &.pos-1 {
      margin-left: 0;
      transform: translate(0px, 0px);
    }

    &.pos-2 {
      box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.11);
      position: absolute;
      left: 0px;
      bottom: 52px;
      transform: translate(-26px, 26px);
      @include adaptive-between($tablet-w, $desktop-w){
        bottom: 80px;
        transform: translate(-26px, 40px);
      }
    }

    &.pos-3 {
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.07);
      position: absolute;
      left: 0px;
      bottom: 80px;
      transform: translate(-52px, 80px);
      @include adaptive-between($tablet-w, $desktop-w){

      }
    }

    &:hover {     
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
      .box-img, .box-content {
        opacity: .8;
      } 
      cursor: pointer;
    }

    &.show {
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.15);
      cursor: default;
      .box-img {
        opacity: 1;
      }
      .box-content {
        visibility: visible;
        opacity: 1;
      }
    }

    &.out {
      opacity: 0;
      transition: opacity .6s ease, transform .6s ease;
    }

    .box-label {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: left top;
      background-color: #fccd52;
      padding: 4px 10px;
      font-weight: 900;
      font-size: 12px;
      letter-spacing: 1px;
      border-radius: 0 4px 0 0;
      z-index: 5;
    }
    .box-img {
      position: absolute;
      width: 450px;
      height: 100%;
      background: no-repeat center;
      background-size: cover;
      z-index: 4;
      border-radius: 5px 0 0 5px;
      color: #fff;
      padding: 50px;
      transition: opacity .2s ease;

      @include adaptive-between($tablet-w, $desktop-wide-w){
        padding: 40px;
        width: 250px;
      }

      @include adaptive-between($tablet-w, $desktop-wide-w){
        padding: 40px;
        width: 250px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(270deg, transparent 0%, black 100%);
        border-radius: 5px 0 0 5px;
      }

      .img-title {
        position: relative;
        z-index: 5;
        font-weight: bold;
        line-height: 50px;
        font-size: 28px;
        line-height: 36px;

        @include adaptive-between($tablet-w, $desktop-w){
          width: 250px;
        }

        @include adaptive-from($desktop-wide-w){
          font-size: 44px;
          line-height: 50px;
        }
      }

      .img-teaser {
        position: relative;
        z-index: 5;
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;

        @include adaptive-between($tablet-w, $desktop-w){
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .box-content {
      margin-left: 450px;
      padding: 20px;
      background: #f5f5f5;
      border-radius: 0 0 5px 5px;
      transition: opacity .2s ease;

      @include adaptive-between($tablet-w, $desktop-wide-w){
        margin-left: 250px;
      }

      .c-catalog-item {
        + .c-catalog-item {
          margin-top: 12px;
        }
      }
    }
  }

}