.p-about-ads {

  padding: 0 10px;

  @include adaptive-to($tablet-w){
    padding: 0;
  }

  .ads-scheme {
    margin-bottom: 1em;
    overflow: auto;
    max-width: 100%;
    img {
      max-width: none;
    }
  }
}