.p-about-member {

  padding: 0 10px;

  @include adaptive-to($tablet-w){
    padding: 0;
  }
  
  .member-name {
    font-size: 44px;
    font-weight: 900;
  }
  .member-position {
    color: #848a98;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .member-quote {
    @extend .clearfix;
    .quote-img {
      float: left;
      max-width: 50%;
      margin-right: 20px;

      @include adaptive-to($tablet-w){
        float: none;
        margin: 0;
        max-width: none;
        margin-bottom: 15px;
      }

      img {
        max-width: 100%;
        display: block;
      }
    }
    .quote-text {
      overflow: hidden;
      font-size: 32px;
      line-height: 44px;
      font-weight: 900;
      border-bottom: 6px solid $color-firm-red;
      padding-bottom: 10px;

      @include adaptive-to($desktop-wide-w){
        font-size: 24px;
        line-height: 28px;
      }

      @include adaptive-to($tablet-w){
        border-bottom: 0;
        border-left: 6px solid $color-firm-red;
        padding-left: 20px;
        padding-bottom: 0;
        font-size: 18px;
        line-height: 20px;
      }

    }
  }

}