*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
  font: normal 14px 'museo_sans_cyr', Arial;
  color: #000;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #000;

  transition: color .1s, background-color .1s, border .1s;
  &:hover {
    color: $color-firm-red;
  }
}

.layout {
  min-height: 100%;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
 
.icon {
  display: inline-block;
  vertical-align: middle;
}

.font-icon {
  font-family: 'WebSymbolsLigaRegular';
  display: inline-block;
  vertical-align: middle;
}

.l-content {
  padding: 20px 20px 50px;
  @extend .clearfix;

  &.extra-padding {
    padding-top: 50px;
    @include adaptive-to($desktop-w){
      padding-top: 30px;
    }
    @include adaptive-to($tablet-w){
      padding-top: 20px;
    }
  }

  .l-content-main {    
    margin-left: 215px;
    overflow: hidden;

    @include adaptive-to($desktop-w){
      margin-left: 0;
    }

  }
}

.b-catalog {
  @extend .clearfix;
  margin: 0 -10px;
  font-size: 0;

  .c-catalog-item {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}


.b-catalog[data-columns]::before {

  @include adaptive-to($tablet-w){
    content: '1 .column.size-1of1';
  }

  @include adaptive-between($tablet-w - 150, $desktop-wide-w){
    content: '2 .column.size-1of2';
  }

  @include adaptive-from($desktop-wide-w){
    content: '3 .column.size-1of3';
  }
}

.b-catalog[data-columns] .column {
  float: left;
  width: 100%;
  &.size-1of1 {
    width: 100%;
  }
  &.size-1of2 {
    width: 50%;
  }
  &.size-1of3 {
    width: 33.3%;
  }
}


.catalog-no-items {
  text-align: center;
  padding: 30px 0;
  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
  .big {
    font-weight: bold;
    font-size: 32px;
  }
  .small {
    margin-top: 10px;
    font-size: 24px;
    color: #b4b4b4;
    position: relative;
    .arr {      
      position: absolute;
      width: 50%;
      left: 4px;
      top: 50%;
      margin-top: -2px;
      height: 4px;
      background: $bg-btn;
      @include adaptive-to ($desktop-w){
        display: none;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background: $bg-btn;
        left: -4px;        
        top: 0;
      }
      &:before {
        top: -2px;
        transform: rotate(-30deg);
      }
      &:after {
        top: auto;        
        bottom: -2px;
        transform: rotate(30deg);
      }
    }
    span {
      display: inline-block;
      background: #fff;
      position: relative;
      padding: 0 12px;
      z-index: 2;
    }
  }
}


.hamburger-icon {
  @include adaptive-from($desktop-w){
    display: none;
  }

  @include adaptive-to($tablet-w){
    top: 20px;
    right: 15px;
  }

  span {
    content: '';
    display: block;
    height: 4px;
    width: 22px;
    background: #000;
    + span {
      margin-top: 4px;
    }
  }
}


body.show-nav {
  @include adaptive-to($desktop-w){
    overflow: hidden;
  }
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  top: -9999px;
  left: -9999px;
  z-index: 400;
  background: rgba(#000, .85);
  opacity: 0;
  transition: opacity .2s ease;

  @include adaptive-to($desktop-w){
    display: none;
  }

  body.show-auth & {
    top: 0;
    left: 0;
    opacity: 1;
  }

}

.close-icon {
  display: block;  
  padding: 5px;
  margin: -5px;
  &:before, &:after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    background: #000;
  }
  &:before {
    transform-origin: left top;
    transform: rotate(45deg);
  }
  &:after {
    margin-top: 17px;
    transform-origin: left bottom;
    transform: rotate(-45deg);
  }
}

.page-side-nav {
  width: 320px;
  float: right;
  padding-top: 90px;
  font-size: 16px;

  @include adaptive-to($desktop-w){
    float: none;
    width: auto;
    padding-top: 0;
  }

  @include adaptive-between($tablet-w, $desktop-w){
    float: none;
    width: auto;
    padding-top: 0;

    border-bottom: 1px solid #e6e6e6;
    margin: 0 -20px;
    margin-bottom: 30px;
    padding: 0 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @extend .clearfix;
    @include adaptive-to($tablet-w){
    margin-bottom: 20px;  
    }
    li {
      @include adaptive-between($tablet-w, $desktop-w){        
        display: block;
        float: left;
        margin-bottom: -1px;
      }
      @include adaptive-to($tablet-w){        
        display: inline-block;
        margin-top: 0;
        margin-bottom: 15px;
        margin-right: 20px;
        
      }
      + li {
        margin-top: 15px;
        @include adaptive-between($tablet-w, $desktop-w){        
          margin-top: 0;
          margin-left: 30px;
        }
        @include adaptive-to($tablet-w){        
          margin-top: 0;
        }
      }
      &.active {
        font-weight: 900;
        a {
          color: $color-firm-red;
          border-color: transparent;
          @include adaptive-between($tablet-w, $desktop-w){
            //border-color: #e61235;
          }
        }
      }
      a {
        border-bottom: 1px dashed currentColor;
        @include adaptive-between($tablet-w, $desktop-w){        
          display: block;
          padding-bottom: 15px;
          border-bottom: 2px solid transparent;

        }
      }
    }
  }
}

.page-content-push-right {
  margin-right: 430px;

  @include adaptive-to($desktop-w){
   margin: 0;
  }
}

.page-title {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: .5em;
  font-weight: 900;
  padding-top: 10px;

  @include adaptive-to($tablet-w){
   font-size: 28px;
   line-height: 34px;
  }

}

.article {
  font-size: 16px;
  line-height: 24px;
  a {
      color: $color-firm-red;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 1em;
    font-weight: normal;
  }
  h3 {
    font-size: 20px;
    font-size: 24px;
    margin: 0;
    margin-bottom: 1em;
    font-weight: normal;
  }
  p {
    margin: 1em 0px;
  }
  ul, ol {

  }
  img {
    max-width: 100%;
  }
  p + h1,
  p + h2,
  p + h3,
  p + li {

  }
}